<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="site-wrap">
    <header class="header">
      <!-- <p class="site-subtitle">Four Pillars: Theology • Philosophy • Policy • History</p> -->
      <h1 class="site-title"><a href="{{ '/' | relative_url }}">Pillars of Thought</a></h1>
      <nav class="nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        {% for pillar in site.pillars %}
          <a href="{{ 'pillars/' | append: pillar | downcase | append: '/' | relative_url }}">{{ pillar }}</a>
        {% endfor %}
        <a href="{{ 'archives/' | relative_url }}">Archives</a>
      </nav>
    </header>

    {{ content }}

    <footer class="footer">
      <p>{{ site.title }} • Approaching life with intellect.</p>
    </footer>
  </div>
</body>
</html>
